<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/new-theme.css">
    <link rel="stylesheet" href="./css/faq.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    


<!-- include nav-->
<%- include('include/_nav') %>
<!-- /include nav -->

    
<!--top-one-->
<section class="top-one">
        <h2>FAQ</h2>
        <p>home / FAQ</p>
</section>
<!--all about doc-->
<section>
    <div class="all-about-doc">
        <div class="text-info">
            <div class="accordian">   
                <div class="accordian-tab">
                    <input type="checkbox" id="toggle1" class="accordian-toggle" name="toggle">
                    <label for="toggle1"><i class="fa fa-certificate" aria-hidden="true"></i>How do I make payments?</label>
                
                    <div class="accordian-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                </div>   
                <div class="accordian-tab">
                    <input type="checkbox" id="toggle2" class="accordian-toggle" name="toggle">
                    <label for="toggle2"><i class="fa fa-stethoscope" aria-hidden="true"></i>There is not enough money in my portea wallet for making a payment. what do I do?</label>
                
                    <div class="accordian-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                </div>   
                <div class="accordian-tab">
                    <input type="checkbox" id="toggle3" class="accordian-toggle" name="toggle">
                    <label for="toggle3"><i class="fa fa-hospital-o" aria-hidden="true"></i>Can I transfer a balance in porta wallent in another user?</label>
                
                    <div class="accordian-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                </div>                   
                <div class="accordian-tab">
                    <input type="checkbox" id="toggle4" class="accordian-toggle" name="toggle">
                    <label for="toggle4"><i class="fa fa-star" aria-hidden="true"></i>Is portea money is same as portea wallet?</label>
                
                    <div class="accordian-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                </div>   
                <div class="accordian-tab">
                    <input type="checkbox" id="toggle5" class="accordian-toggle" name="toggle">
                    <label for="toggle5"><i class="fa fa-trophy" aria-hidden="true"></i>Refund</label>
                
                    <div class="accordian-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                </div>  
                <div class="accordian-tab">
                    <input type="checkbox" id="toggle6" class="accordian-toggle" name="toggle">
                    <label for="toggle6"><i class="fa fa-map-marker" aria-hidden="true"></i>What is a Family id?</label>
                
                    <div class="accordian-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                </div>   
                <div class="accordian-tab">
                    <input type="checkbox" id="toggle7" class="accordian-toggle" name="toggle">
                    <label for="toggle7"><i class="fa fa-inr" aria-hidden="true"></i>who can be added as a family?</label>
                
                    <div class="accordian-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                </div>             
            </div>     
        </div>
    </div>
</section>


<!-- include help-->
<%- include('include/_help') %>
<!-- /include help -->

<!-- include _footer-->
<%- include('include/_footer') %>
<!-- /include _footer -->



</body>
</html>