@import "login.scss"; 

.form .location{
    height: 2rem;   
}
.form input{
    height: 2rem;
}
select {
    color: rgba(0, 0, 0,0.5);
    height: 2rem;
    background: none;
    font-size: 0.8rem;
    width: 100%;
    margin-bottom: 0.5rem;
    border-color:  rgba(0, 0, 0,0.2);
}
.city-button{
    display: flex;
    justify-content: space-between;
}
.city-button input{
    width: 49.7%;
}