@import "login.scss"; 


// ........main.................................
.main{
    .login-box{
        .form{
            form{
                select{
                    margin-bottom: 0.5rem;
                }
                input[type="date"]{
                    color: rgba(0, 0, 0,0.6);
                    padding-right: 0;
                }
                .city-button{
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    input{
                        width: 50%;
                    }
                    .b{
                        margin-right: 0.5rem;
                    }
                }

            }
        }
    }
}


    