
:root{
    --heading:white;
    --i-background:rgb(208, 208, 224);
    --sudo:rgb(81, 81, 175);
    --service-backrround:rgb(151, 151, 202);
    --gradient:rgb(99, 62, 168);
    --more-service:white;
    --crousal-button-background:white;
}

@mixin var{
    border: 1px solid rgba(0, 0, 0,0.2);
    border-radius: 0.5rem;
    padding: 1.5rem;
    margin-bottom: 1rem;
    position: relative;
    &::before{
            position: absolute;
            content: "";
            border-top: 3px solid var(--sudo);
            width: 1.3rem;
            left: 0rem;
            margin-top: 0.5rem;
    }
    h4{
        margin-bottom: 1rem;
    }
    ul{
        li{
            display: flex;
            justify-content: space-between;
            margin-bottom: 01rem;
            position: relative;
            &::before{
                position: absolute;
                content: "";
                border-top: 1px solid rgba(0, 0, 0,0.1);
                margin-top: 1rem;
                width: 100%;
            }
            .list-heading{
                font-weight: 900;

            }
            span{

            }
        }
    }
}


// .......home.............
.home{
    height: 10rem;
    background-image: linear-gradient(to right,var(--gradient) ,rgba(133,178,196,0) ),url("https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/dentist_hero_image.jpg");
    background-position: top;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: nexa-light;
    .home-contect{
        text-align: center;
        h1{
            color: var(--heading);
            margin-bottom: 1rem;
        }
        p{
            margin: 0;
            color: var(--heading);
        }
    }
}
// .......info...................
.info{
    .vaccination{
        .pashant{
            h2{
                text-align: center;
                margin-bottom: 1rem;
            }
            .doctor-box{
                .doctor-img{
                    height: 15rem;
                    background-image: url("https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/dentist.jpg");
                    background-position: left;
                    background-size: cover;
                    margin-bottom: 1rem;
                }
                .about{
                    font-family: 'nexa-light';
                    font-size: 0.9rem;
                    line-height: 1rem;
                    h4{
                        margin-bottom: 1rem;
                    }
                    ul{
                        margin: 1rem;
                        list-style: disc;
                        li{
                            margin-bottom: 0.5rem;
                        }
                    }
                }
            }

        }
        .disorders{
            margin-top: 2rem;
            .disorders-box{
                text-align: -webkit-center;
                line-height: 1rem;
                font-family: 'nexa-light';
                font-size: 0.8rem;
                margin-bottom: 2rem;
                .logo-box{
                    width: 4rem;
                    height: 4rem;
                    border-radius: 50%;
                    background-color: var(--i-background);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 0.5rem;
                    i{
                        font-size: 2rem;
                        width: 57%;
                    }
                }
                h4{
                    margin-bottom: 0.5rem;
                }
            }
        }
    }
    .boxs{
        .service-box{
            @include var;
        }
        .shedule-box{
            @include var;
        }
    }
}
// .......service........................
.services{
    background-color: var(--service-backrround);
    .arrow-box{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem;
        h2{
            color: var(--more-service);
            margin-bottom: 1rem;
        }
        .arrow-button{
            display: flex;
            .arrow{
                padding: 0.5rem;
                background-color: var(--crousal-button-background);
                border-radius: 50%;
                margin-right: 0.5rem;
                i{
                    font-size: 0.7rem;
                    text-align: center;
                }
            }
        }
    }
    .desices{
        display:flex;
        flex-wrap: wrap;
        .desices-box{
            width: 100%;
            position: relative;
            border-radius: 0.5rem;
            margin-bottom: 0.5rem;
            background-position: left;
            background-repeat: no-repeat;
            background-size: cover;
            height: 17rem;
            &::before {
                position: absolute;
                content: "";
                border-top: 3px solid var(--sudo);
                width: 1rem;
                bottom: 2rem;
                z-index: 1;
            }
            .paitiont-img{
                position: absolute;
                height: 100%;
                img{
                    border-radius: 0.5rem;
                }
            }
            .h3{
                position: absolute;
                bottom: 0;
                padding: 1.5rem 0rem;
                background-color:  var(--crousal-button-background);
                width: 100%;
                border-bottom-left-radius: 0.5rem;
                border-bottom-right-radius: 0.5rem;
                h3{
                    margin-left: 1.5rem;
                }
            }
        }
    }
}
// .......footer........................
footer{
    .footer-nav{
        ul{
            .other-services{
                display: none;
            }
            .contact{
                display: block;
            }
        }
    }
}


/* .............................................................. */
/* .............................................................. */
/*                          tablate                                 */
/* .............................................................. */
/* .............................................................. */

@media only screen and ( min-width:768px) {

// .......info...................
.info{
    .vaccination{
        .pashant{
            h2{
                text-align: start;
            }
            .doctor-box{
                display: flex;
                .doctor-img{
                    width: 70%;
                }
                .about{
                    margin-left: 1rem;
                }
            }

        }
        .disorders{
            display: flex;
            justify-content: space-between;
            .disorders-box{
                width: 32%;
            }
        }
    }
    .boxs{
        display: flex;
        .service-box{
            margin-right: 0.5rem;
            margin-bottom: 0;
            width: 50%;
            ul{
                li{
                    ::before {
                        margin-top: 1.2rem;
                    }
                }
            }
        }
        .shedule-box{
            margin-left: 0.5rem;
            height: fit-content;
            width: 50%;
            ul{
                li{
                    ::before {
                        margin-top: 1.2rem;
                    }
                }
            }
        }
    }
}
// .........service........................
.services{
    .arrow-box{
        justify-content: space-between;
        flex-direction: row;
        h2{
            margin-bottom: 0;
        }
    }
    .desices{
        display: flex;
        justify-content: space-between;
        .desices-box{
            width: 32.5%;
            &::before{
                bottom: 2rem;
            }
        }
    }
}

}


/* .............................................................. */
/* .............................................................. */
/*                          decstop                                 */
/* .............................................................. */
/* .............................................................. */


@media only screen and ( min-width:1023px) {

// .............home.......................
.home{
    align-items: flex-start;
    height: 13rem;
}
// .......info............................
.info{
    display: flex;
    .vaccination{
        width: 72%;
        margin-right: 1rem;
        .disorders{
            margin-top: 2rem;
            .disorders-box{
               margin-bottom: 0;
            }
        }
    }
    .boxs{
        flex-direction: column;
        .service-box{
            width: 17rem;
            margin-left: 0.5rem;
            margin-bottom: 1rem;
            ::before {
                 margin-top: 0.7rem;   
            }
        }
        .shedule-box{
            width: 17rem;
            ::before {
                 margin-top: 0.7rem;   
            }
        }
    }
}



}
