<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
    integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
   
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="css/new-theme.css">
    <link rel="stylesheet" href="css/contact-new1.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    
<!--........nav .............-->
    <nav class="nav">
        <div class="nav-img" >
            <a href="new2-index.html"> 
                <img  src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" alt="tvastra logo"> 
            </a>
        </div>
        <div class="nav-i">
            <i class="fa fa-bars fa-1x"  ></i>
        </div>
        <div class="desktop-nav">
            <ul>               
                <li> <a href="doctor.html">  Doctor   </a></li>
                <li> <a href="hospital.html">  Hospital  </a> </li>
                <li> <a href="">  Treatment  </a> </li>
                <li> <a href="#">  Other services  </a> </li>
                <li> <a href="about-us.html">  About  </a> </li>
            </ul>
        </div>
        <div class="desktop-nav-buttons">
                <div class="dnlogin"> 
                    <a href="#">  Login  </a>
                    / 
                    <a href="#">  Sign Up </a> 
                </div>
                <button class="quote-button"> get a quote   </button>
        </div>
    </nav> 
<!--.........nav end..........-->

<section class="home">
    <div  class="headings">
        <h1>Contact Us</h1>
        <div><p> Home / Contact Us </p></div> 
    </div>
</section>    

<section id="map">  
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d59696.75335035885!2d78.5776661902943!3d20.74888560443452!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bd47f04f15aa69d%3A0xe76e35b13382a66c!2sWardha%2C%20Maharashtra!5e0!3m2!1sen!2sin!4v1615175692538!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</section>  

<div class="contact">

    <div class="contact-number">

        <div class="email">
           <div class="logo">
                <i class="fa fa-home" aria-hidden="true"></i>
           </div>
           <div class="content">
                <div class="location"> <h5> Noida India </h5></div>
                <div class="">  Sector 45 </div>
           </div>
        </div>   
        <div class="email">
           <div class="logo"><i class="fa fa-phone" aria-hidden="true"></i></div>
           <div class="">
                <div class="location"><h5>Noida India</h5></div>
                <div class="">Sector 45</div>
           </div>
        </div>
        <div class="email">
           <div class="logo"><i class="fa fa-home" aria-hidden="true"></i></div>
           <div class="">
                <div class="location"> <h5> NoidaIndia@gmail.com </h5> </div>
                <div class=""> Send us your query </div>
           </div>
        </div>

    </div>

    <div class="contact-form">
        <form action="">
            <div class="input-box">
                <div class="three-input">
                    <input type="text" placeholder="Enter your name">
                    <input type="text" placeholder="Enter email address">
                    <input type="text" placeholder="Enter subject">
                </div>
                <textarea placeholder="Enter massage"></textarea>
            </div>
            <input type="button" value="send massage" > 
        </form>
    </div>

</div>  



<!--.........footer.....-->

<footer>

    <div class="footer-logo">
        <div class="logoimg" >
            <img class="img" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/footer.png" alt="tvastra logo">
        </div>
    </div>
    
    <div class="footer-heading"><h3>TVASTRA</h3> </div>

    <div class="footer-nav">
        <ul>               
            <li> <a href="#">  Doctor   </a></li>
            <li> <a href="#">  Hospital  </a> </li>
            <li> <a href="#">  Treatment  </a> </li>
            <li> <a href="#">  Other services  </a> </li>
            <li> <a href="#">  FAQs  </a> </li>
        </ul>   
    </div>

    <div class="footer-sites">
        <i class="fa fa-facebook" aria-hidden="true"></i>
        <i class="fa fa-pinterest-p" aria-hidden="true"></i>
        <i class="fa fa-twitter" aria-hidden="true"></i>
        <i class="fa fa-google-plus" aria-hidden="true"></i>
        <i class="fa fa-instagram" aria-hidden="true"></i>
    </div>
    
    <div class="footer-heading"> <h3> FOLLOW US </h3> </div>

    <div class="footer-sites-word">
        <ul>               
            <li> <a href="#">  Facebook   </a></li>
            <li> <a href="#">  Penterest  </a> </li>
            <li> <a href="#">  Twitter  </a> </li>
            <li> <a href="#">  Google+  </a> </li>
            <li> <a href="#">  Instagram  </a> </li>
        </ul>   
    </div>

    <div class="footer-reserve">
        All Rights Reserved. trastra 2018
    </div>

</footer>


</body>
</html>