<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
   
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="css/new-theme.css">
    <link rel="stylesheet" href="css/create-password.css">

    <title>email-login</title>
</head>
<body>


<div class="main">
    <div class="login-box">
        <div class="login">
            <h2>Create New Password</h2>
        </div>
        <div class="form">
            <form action="">
                <div class="location">
                    <input type="Password" placeholder="Enter Password" >
                    <span> <i class="fa fa-eye-slash" aria-hidden="true"></i> </span>
                </div>
                <input type="text" class="a"  placeholder="Confirm Password">
                <button> SUBMIT <span> <i class="fa fa-arrow-right" aria-hidden="true"></i> </span></button>
            </form>
        </div>
    </div>
    <div class="reserved">
        <h6> All right reserved Tvastra 2020 </h6>
    </div>
</div>

    
</body>
</html>