<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
   
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="css/new-theme.css">
    <link rel="stylesheet" href="css/submit-your-query.css">

    <title>submit-your-query</title>
</head>
<body>

<!--........nav .............-->
    <nav class="nav">
        <div class="nav-img" >
            <img  src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" alt="tvastra logo">
        </div>
        <div class="nav-i">
            <i class="fa fa-bars fa-1x"  ></i>
        </div>
        <div class="desktop-nav">
        <ul>               
            <li> <a href="#">  Doctor   </a></li>
            <li> <a href="#">  Hospital  </a> </li>
            <li> <a href="#">  Treatment  </a> </li>
            <li> <a href="#">  Other services  </a> </li>
            <li> <a href="#">  About  </a> </li>
        </ul>
        </div>
        <div class="desktop-nav-buttons">
                <div class="dnlogin"> 
                    <a href="#">  Login  </a>
                    / 
                    <a href="#">  Sign Up </a> 
                </div>
                <button class="quote-button"> get a quote   </button>
        </div>
    </nav> 
<!--.........nav end..........-->


<div class="main">

    <div class="login-box">

        <div class="login">
            <h2>submit-your-query</h2>
        </div>

        <div class="form">
            <form action="">
                <input type="text" class="a"  placeholder="Enter Name">
                <input type="number" class="a"  placeholder="Enter Phone number">
                <input type="email" class="a"  placeholder="Enter Email">
                <textarea placeholder="Write Your Query Here"></textarea>
                
                <button> SUBMIT <span> <i class="fa fa-arrow-right" aria-hidden="true"></i> </span></button>
            </form>
        </div>

    </div>

    <div class="reserved">
        <h6> All right reserved Tvastra 2020 </h6>
    </div>

</div>

    
</body>
</html>