:root {
    --doctor-name: rgb(12 ,113 ,167);
    --sudo-line: rgb(12 ,113 ,167);
    --i: rgb(12 ,113 ,167);
    --sort-by: rgb(241, 232, 232);
}

$fil-button-border:rgba(0,0,0,.2);
$doctor-box-border:rgba(0,0,0,.2);
$show-more:blue;

$delhi_gra:rgba(133,178,196,0.9);
$filter_bar:rgb(217, 221, 223);
$i:rgb(12 ,113 ,167);
$show_more_bor:rgba(0, 0, 0,0.2);

$red :red;

.alert {
    padding: 0.5rem 1rem;
    background-color: white;
    position: absolute;
    right: 1rem;
    display: flex;
    top: 6rem;
    z-index: 1;
    align-items: center;
    border-left: 0.2rem solid $red;
    i{
        font-size: 1.5rem;
        color: $red;
    }
    .alert_content{
        margin-left: 1rem;
        h4{
            color: $red;
        }
        p{
            color: $red;
            margin-bottom: 0;
        }
    }
    .closebtn {
      margin-left: 15px;
      font-weight: bold;
      float: right;
      color: $red;
      font-size: 2rem;
      line-height: 20px;
      cursor: pointer;
      transition: 0.3s;
    }
    &:hover {
      color: black;
    }
}
  

/* ..........delhi......... */
#delhi{ display: none; }
/* ..........delhi.end.......... */

/* .........sort.......... */
.sort{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1rem;
    .sort-home{
        font-family: 'nexa-light';
    }
    select{
        padding: 0.5rem 0.6rem;
        font-size: 0.8rem;
        background-color: var(--sort-by);
        border: none;
        font-weight: 600;
        width: 5.5rem;
    }
}
/* ........sort end........ */




// ...........main................................
#main{
    .main{
        .filter{
            display: none;
        }
        .doctor-boxs{
            .doctor-box{
                border: 1px solid $doctor-box-border;
                margin-bottom:0.5rem;
                .doctor-content{
                    .doctor-name{
                        display: flex;
                        align-items: center;
                        position: relative;
                        padding: 1rem 0rem;
                        &::before{
                            position: absolute;
                            content: "";
                            width: 1.5rem;
                            border-top: 2px solid var(--sudo-line);
                        }
                        h4{
                            margin-left: 1.8rem;
                            color: var(--doctor-name);
                        }
                    }
                    .doctor-logos{
                        ul{
                            li{
                                display: flex;
                                align-items: center;
                                line-height: 1.1rem;
                                .doctor-logo{
                                    i{
                                        margin: 0.5rem;
                                        text-align: center;
                                        color: var(--i);
                                    }
                                }
                            }
                        }
                    }
                    .doctor-button{
                        text-align: center;
                        margin: 0.5rem 0rem;
                    }
                }

                .date-container{
                    display: flex;
                    overflow: hidden;
                    position: relative;
                    // margin: 0.5rem;
                    grid-area: 2 / 1 / span 1 / span 2;
                    .date-groups{
                        display: flex;
                        .dates{
                            width: 17rem;
                            text-align: center;
                            transition: 0.3s;
                            height: 2rem;
                            cursor: pointer;
                            &:hover{
                               border-bottom: 3px solid $i;
                            }
                        }
                        .active{
                            h5{
                                border-bottom: 3px solid $i;
                                padding-bottom: 0.5rem;  
                                margin-bottom: 0.5rem;                          
                            }
                        }
                    }
                    .back-button{
                        position: absolute;
                        cursor: pointer;
                        z-index: 10;
                        left: 0;
                        background: grey;
                        border-radius: 50%;
                        padding: 0.5rem 0.8rem;
                        h4{
                            color: white;
                        }
                    }
                    .frountbutton{
                        cursor: pointer;
                        position: absolute;
                        z-index: 10;
                        background: grey;
                        border-radius: 50%;
                        padding: 0.5rem 0.8rem;
                        right: 0;
                        h4{
                            color: white;
                        }
                    }

                }
           
                .doc_name_box3 {
                    grid-row-start: 2;
                    grid-column-start: 1;
                    grid-column-end: 3;
                    width: 100%;
                   .arrow-button {
                    display: flex;
                    justify-content: space-between;
                    .arrow {
                        padding: 1rem;
                    }
                   }
                   .elements {
                       display: flex;
                    margin-top: -2.5rem;
                       .slots {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        width: 12rem;
                        margin-left: 3rem;
                       }
                    }
                }
                .swiper-container{
                    text-align: center;
                    background: rgb(247, 246, 241);
                    overflow: hidden;
                }
                .slots{
                    grid-area: 3 / 1 / span 1 / span 2;
                    .bookingtimegroup {
                        display:none;
                        // margin-top: 3rem;
                        .booking-time{            
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            padding: 1rem;
                            border-bottom: 1px solid rgba(0,0,0,0.2);
                            .daytime {
                                margin-right: 1rem;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                flex-direction: column;
                                align-items: center;
                                width: 6rem;
                                margin-bottom: 0.5rem;
                            }
                            ul {
                                flex-wrap: wrap;
                                display: flex;
                                justify-content: space-between;
                                width: 100%;
                                li {
                                    cursor: pointer;
                                    border: 1px solid rgba(0,0,0,0.5);
                                    padding: 0.7rem 1rem;
                                    margin: 0.2rem;
                                    z-index: 1;
                                }
                            }
                        }
                        .booking-hospital-name {
                            text-align: center;
                            color: rgb(61, 77, 37);   
                        }
                    }
                    .active{
                        display: block;
                    }
                }
            }
        }
    }
}

#pagination {
    width: max-content;
    margin: 2rem auto;
    display: flex;
    .pageBtn {
        font-size: 1.1rem;
        display: flex;
        align-items: center;
        margin: 0 0.5rem;
    }
    .pageNo {
        a {
            width: 2rem;
            height: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid $i;
            margin: 0 0.5rem;
            font-size: 0.8rem;
            // color: var(--dark);
        }
    }
}

// ...........main..end..............................

// ...............footer..............
footer{
    .footer-heading{
        display: block;
    }
    .footer-sites-word{
        display: block;
    }
    .footer-sites{
        display: none;
    }
    .footer-reserve{
        margin-top: 1rem;
    }
}


/* ..................................................................... */
/* ..................................................................... */
/* ........................tablet...................................... */
/* ..................................................................... */
/* ..................................................................... */


@media only screen and ( min-width:768px) {
    
//........delhi.................................... 
#delhi {
    background-image: linear-gradient( $delhi_gra , $delhi_gra ),url("https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Doctors.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 10rem;
    display: flex;
    align-items: center;
    font-family: nexa-light;
    font-size: 1.4rem;
    strong{
        font-weight:900 ;
    }
}
// .......delhi...end..................................

// .........sort...................................
.sort{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 2rem;
    .sort-home{
        display: flex;
        align-items: center;
        font-family: nexa-light;
        font-size: 1.2rem;
    }
}
// ..........sort end..................................


// ...........main................................
#main{
    padding-top: 0rem;
    .main{
        grid-template-columns: 1fr 3fr;
        display: grid;
        .filter{
            display: block;
            margin-right: 1rem;
            .filter-bar{
                height: 2.5rem;
                background-color: $filter_bar;
                display: flex;
                align-items: center;
                padding-left: 1rem;
            }
            form{            
                .filter-buttons{
                    display: none;
                }
                .filter-search{
                    width: 95%;
                    input[type="search"]{
                        display: none;
                        margin-bottom: 0.5rem;
                    }
                    .filter-type{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin: 1rem 0rem;
                        .heading{
                            font-family: 'nexa-light';
                            font-size: 1.4rem;
                        }
                        .logos{
                            display: flex;
                            justify-content: space-between;
                            font-size: 0.7rem;
                            .logo-search{
                                i{
                                    color: $i;
                                }
                            }
                            .logo-minus{
                                i{
                                    color: $i;
                                }
                            }
                        }
                    }
                    .filter-check-box{
                        margin-bottom: 1rem;
                        max-height: 9.2rem;
                        overflow: hidden;
                        ul{
                            li{
                                display: flex;
                                align-items: center;
                                margin-bottom: 0.2rem;
                                // font-size: 0.8rem;
                                input{
                                    width: auto;
                                    margin-right: 1rem;
                                }
                            }
                        }
                    }
                    .filter-show-more{
                        position: relative;
                        margin-bottom: 2rem;
                        &::after{
                            position: absolute;
                            content: "";
                            width: 100%;
                            border-bottom: 2px solid $show_more_bor;
                            top:  2rem;
                            left: 0rem;
                        }
                        a{
                            text-decoration-line: none;
                            font-family: nexa-light;
                            color: $show-more;
                        }
                    }
                    .filter-show-less{
                        display: none;
                        position: relative;
                        margin-bottom: 2rem;
                        &::after{
                            position: absolute;
                            content: "";
                            width: 100%;
                            border-bottom: 2px solid $show_more_bor;
                            top:  2rem;
                            left: 0rem;
                        }
                        a{
                            text-decoration-line: none;
                            font-family: nexa-light;
                            color: $show-more;
                        }
                    }
                }
            }
        }
        .doctor-boxs{
            .doctor-box{
                border: 1px solid $doctor-box-border;
                display: grid;
                grid-template-columns:  2fr 1fr;
                grid-template-rows: auto auto auto;
                grid-template-areas: 
                "doctor-content doctor-photo" ;
                margin-bottom: 0.5rem;
                .doctor-content{
                    .doctor-name{
                        grid-area: grid-name;
                    }
                    .doctor-logos{
                        grid-area: doctor-logos;
                        margin-left: 1.8rem;
                        // height: 8.5rem;
                        ul{
                            display: grid;
                            grid-template-columns: 1fr 1fr;
                            li{
                                margin-bottom: 0.2rem;
                            }
                        }
                    }
                    .doctor-button{
                        margin-bottom: 1rem;
                        margin-left: 2.3rem;
                        text-align: start;
                    }
                }
                .doctor-photo{
                    grid-area: doctor-photo;
                }
                .date-container{
                    .date-groups{
                        .dates{
                            width: 16rem;
                            height: 2.7rem;
                        }
                      
                    }
                }
           

                .swiper-container{
                    grid-area: 2 / 1 / span 1 / span 2;                 
                }
                .slots{
                    .bookingtimegroup {
                        .booking-time{            
                            flex-direction: row;
                        }
                    }
                }
            }
        }
    }
}

// ...............footer..............
footer{
    .footer-heading{
        display: none;
    }
    .footer-sites-word{
        display: none;
    }
    .footer-sites{
        display: block;
    }
}

}


/* ..................................................................... */
/* ..................................................................... */
/* ........................decstop...................................... */
/* ..................................................................... */
/* ..................................................................... */

@media only screen and ( min-width:1024px){

#delhi{
    height: 12rem;
    font-size: 2rem;
}
// ...........sort.........................................
 .sort {
       padding: 1.5rem 7rem;
       .sort-home{
        font-weight: bold;
       }
}
// ..........sort end........................................

// ...........main................................
#main{
    .main{
        .filter{
            margin-right: 2rem;
            form{
                align-items: start;
                .filter-buttons{
                    display: block;
                    margin: 1rem 0rem;
                    margin-bottom: 0;
                    display: flex;
                    flex-wrap: wrap;
                    background-color: var(--white_dark);
                    .fil-button{
                        display: flex;
                        border: 0.02rem solid $fil-button-border;
                        margin: 0.1rem;
                        padding: 0.5rem 0rem;
                        padding-left: 0.5rem;
                        border-radius: 1rem;
                        font-size: 0.7rem;
                        font-weight: bold;
                        font-family: 'nexa-light';
                        i{
                            margin-left: 0.5rem;
                        }
                    }
                }
                .filter-search{
                    margin-left: 1rem;
                    .filter-type{
                        .heading{
                            font-weight: bold;
                        }
                        .logos{
                            .logo-minus{
                                i{
                                    margin-left: 1rem;
                                }
                            }
                        }
                    }
                    .filter-check-box{
                        ul{
                            li{
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
        }
        .doctor-boxs{
            .doctor-box{
                grid-template-columns:  3fr 1fr;
                .doctor-content{
                    .doctor-name{
                        padding-top: 1.5rem;
                        padding-bottom: 1rem;
                        &::before {
                            width: 2rem;
                        }
                        h4{
                            margin-left: 2.5rem;
                        }
                    }
                    .doctor-logos{
                        ul{
                            grid-column-gap: 3rem;
                            li{
                                font-weight: bold;
                            }
                        }
                    }
                    .doctor-button{
                        margin: 1.5rem;
                        margin-left: 2.5rem;
                        button{
                            padding: 0.5rem 1rem;
                        }
                    }
                }
                .doctor-photo{
                    height: 16rem;
                }

                .date-container{
                    .date-groups{
                        .dates{
                            width: 20rem;
                            height: 3.1rem;
                        }
                    }
                }
                .swiper-container{
                  background: rgb(243, 239, 239);
                }
            }
        }
    }
}
// ............main end........................................

}