:root{
    --heading:white;
    --box-border:rgba(0, 0, 0,0.4);
    --sudo:rgb(22, 125, 221);
    --doctor-name:rgb(22, 125, 221);
}
$doctor-name:rgb(22, 125, 221);
$label:rgb(22, 125, 221);
$fa:rgb(22, 125, 221);
$dash:rgb(22, 125, 221);

$p-bg:rgb(209, 229, 245);

// .....top one...............
.top-one{
    background-image: url("https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/contactUs.png");
    background-size: cover;
    background-position: center;
    height: 11rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h2{
        color: var(--heading);
        margin-bottom: 1rem;
    }
    p{
    color: var(--heading);
    margin-bottom: 0rem;
    }
}
//..........all-about-doc ..............
.all-about-doc{
    border: 0.1px solid var(--box-border);
    padding: 0.5rem;
    .photo-and-butn{
        button{
            width: 100%;
            margin: 0.5rem 0rem;
        }
    }
    .text-info{
        .name-info{
            h2{
                position: relative;
                text-align: left;
                margin-top: 2rem;
                margin-bottom: 1rem;
                margin-left: 2rem;
                color: $label;
                &::before {
                    position: absolute;
                    content: " ";
                    width: 2.3rem;
                    border-bottom: 0.2rem solid $doctor-name;
                    left: -2.5rem;
                    top: 0.5rem;
                }
            }
        }
        .accordian{
            .accordian-tab{
                .accordian-toggle{
                  display: none;
                  &:checked ~ label::after {
                    transform: rotate(180deg);
                  }
                  &:checked ~ .accordian-content{
                    max-height: 100vh;
                  }
                  &:checked ~ label {
                    border-top: 0.1px dashed $dash ;
                  }
              }
              label{
                  color: $label;
                  border-bottom: 0.1px dashed var(--gray);
                  display: block;
                  font-size: 1.2rem;
                  font-weight: bold;
                  padding: 0.8rem 0rem;
                  position: relative;
                  border-bottom: 0.1px dashed $dash ;
                  &::after {
                    content: "\f13a";
                    font: normal normal normal 14px/1 FontAwesome;
                    position: absolute;
                    top:1.1rem;
                    right: 1rem;
                    transform: rotate(0deg);
                    transition: transform .3s;
                }
                &:checked ~ label {
                    border-top: 0.1px dashed $dash ;
                }
                i{
                    margin-right: 1rem;
                    &::before{
                        color: $fa;
                    }
                }
            }
            .accordian-content{
                  max-height: 0;
                  transition: all .4s;
                  overflow: hidden;
                  p{
                    text-align: left;
                    background-color: $p-bg;
                    padding: 0.5rem;
                }
              }
            }
        }
    }
}
.fa:before {
    content: "\f0a3";
    // color: $fa;
}


@media only screen and (min-width:768px) {

    .top-one{
        background-position: left;
    }
    //..........all-about-doc ..............
    .all-about-doc{
        display: grid;
        grid-template-columns: 65% 35%;
        grid-template-rows: 1fr;
        padding: 1rem;
        .photo-and-butn{
            grid-column-start: 2;
            text-align: end;
            width: 95%;
            margin-left: auto;
        }
        .text-info{
            grid-row-start: 1;
            .name-info{
                h2{
                   &::before{
                       left: -3rem;
                   }  
                }
            }
        }   
    }
}


@media only screen and (min-width:1023px) {
    .top-one h2 {
        text-align: start;
    }
    .all-about-doc{
        grid-template-columns: 75% 25%;
        padding: 1.5rem;
        .text-info{
            grid-row-start: 1;
            .name-info{
                h2{
                   &::before{
                       left: -3.5rem;
                   }  
                }
            }
        } 
    }
}