@import "signup.scss"; 

.nav{
    .desktop-nav-buttons{
        .dnlogin{
            display: none;
        }
    }
}

.main{
    .login-box{
        .form{
            form{
                .forgot{
                    width: -webkit-fill-available;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin: 1rem 0rem;
                    h5{
                        color: var(--heading);
                    }
                }
            }
        }
    }
}




