@import "signup.scss"; 
$red:red;
$green :green;
.nav{
    .desktop-nav-buttons{
        .dnlogin{
            display: none;
        }
        .user_name{
            display: none;
        }
    }
}

.alert {
    padding: 0.5rem 1rem;
    background-color: white;
    position: absolute;
    right: 1rem;
    display: flex;
    top: 6rem;
    z-index: 1;
    align-items: center;
    border-left: 0.2rem solid $red;
    i{
        font-size: 1.5rem;
        color: $red;
    }
    .alert_content{
        margin-left: 1rem;
        h4{
            color: $red;
        }
        p{
            color: $red;
            margin-bottom: 0;
        }
    }
    .closebtn {
      margin-left: 15px;
      font-weight: bold;
      float: right;
      color: $red;
      font-size: 2rem;
      line-height: 20px;
      cursor: pointer;
      transition: 0.3s;
    }
    &:hover {
      color: black;
    }
}
  
#succ{
    border-left: 0.2rem solid $green;
    i{
        color: $green;
    }
    .alert_content{
        h4{
            color: $green;
        }
        p{
            color: $green;
        }
    }
}

.main{
    .login-box{
        .form{
            form{
                #user{
                    width: 100%;
                    .forgot{
                        width: -webkit-fill-available;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin: 1rem 0rem;
                        #forgot_password{
                            padding: 0;
                            width: auto;
                            border: none;
                            background: white;
                            font-size: 1rem;
                            font-weight: bold;
                            color: var(--heading);
                        }
                        h5{
                            color: var(--heading);
                        }
                    }
                }
            }
        }
    }
}




