
:root{
    --input-border:  rgba(0,0,0,0.2);
   --heading : rgb(12 ,113 ,167);
    --placeholder: rgba(0,0,0,0.2);
  
    --background:rgb(147, 190, 222);
    --form-background:white;
    --i:rgba(223, 215, 215, 0.87);
    --button-font:white;
}
$eye:rgba(0,0,0,0.2);
$signup: rgb(12 ,113 ,167);
$nav_bg:white;
$loc_bor :rgba(0, 0, 0, 0.2);

.nav{
    position: absolute;
    z-index: 1;
    background: $nav_bg;
    width: -webkit-fill-available;
}


// ........main.................................
.main{
    background: var(--background);
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0rem 1rem;
    .login-box{
        width: 100%;
        margin-top: 4rem;
        .login{
            text-align: center;
            background: var(--form-background);
            margin-bottom: 0.05rem;
            padding: 1rem 0rem;
            h2{
                color: var(--heading);
            }
        }
        .form{
            background:  var(--form-background);
            padding: 1rem;
            text-align: center;
            form{
                .location{
                    -ms-flex-pack: center;
                    -ms-flex-align: center;
                    align-items: center;
                    display: flex;
                    margin-bottom: 0.5rem;
                    width: 100%;
                    border: 1px solid $loc_bor;
                    input{
                        border: none;
                    }
                    span{
                        font-size: 0.8rem;
                        margin-right: 0.6rem;
                        i{
                            color: var(--i);
                            font-size: 1rem;
                        }
                    }
                }
                .a{
                    margin-bottom: 0.5rem;
                }
                button{
                    width: 100%;
                    height: 2.5rem;
                    position: relative;
                    color: var(--button-font);
                    letter-spacing: 0.2rem;
                    font-size: 0.7rem;
                    span{
                        position: absolute;
                        right: 1.2rem;
                        i{
                            color: var(--button-font);
                        }
                    }
                }
                // showdocdiv
                .showdocdiv{
                    width: 100%;
                    height: 2.5rem;
                    position: relative;
                    color: var(--button-font);
                    letter-spacing: 0.2rem;
                    font-size: 0.7rem;
                    display: flex;
                    align-items: center;
                    // background: red;
                    background-color: #222844;
                    justify-content: center;
                    font-family: 'nexa-light';
                    span{
                        position: absolute;
                        right: 1.2rem;
                        i{
                            color: var(--button-font);
                        }
                    }
                }
            }
        }
        .signup{
            background: var(--form-background);
            padding: 1rem;
            text-align: center;
            font-size: 0.8rem;
            font-family: 'nexa-light';
            a{
                text-decoration: none;
                font-weight: 900;
                color: $signup;
            }
        }
    }
    .reserved{
        text-align: center;
        font-size: 0.8rem;
        position: absolute;
        bottom: 0.5rem;
    }
}


@media only screen and (min-width: 768px) {

// ........main.................................
.main{
    .login-box{
        width: 65%;
        margin-top: 5rem;
    }
}


}

@media only screen and (min-width: 1024px){
  
// ........main.................................
.main{
    .login-box{
        width: 35%;
        margin-top: 6rem;
        .form{
            form{
                button{
                    padding: 0rem;
                }
            }
        }
    }
}

// // ........main.................................
// .main{
//     .login-box{
//         .login{
//             h2{

//             }
//         }
//         .form{
//             form{
//                 .location{
//                     input{

//                     }
//                     span{
//                         i{

//                         }
//                     }
//                 }
//             }
//         }
//         .signup{
//             a{

//             }
//         }
//     }
//     .reserved{
//         h6{

//         }
//     }
// }



}