
@font-face{
    font-family: 'nexa-light';
    src: url('Nexa-Light.otf');
}
@font-face{
    font-family: 'nexa-bold';
    src: url('Nexa-Bold.otf');
}

@import "nav.scss";
@import "help.scss";
@import "footer.scss";



/* ............................................... */
:root {
    --white: #ffffff;
    --button-text:rgba(255, 255, 255,0.7);
    --black: rgb(0, 0, 0);
    --black_light:rgba(10, 10, 10,0.5);
    --dark_blue: #1e0447;
    --light_blue:rgba(2, 3, 51, 0.8) ;
    --input-border:  rgba(0,0,0,0.2);
}
$white: #ffffff;
$nav-a:rgb(34, 40, 68);
$heading: rgb(34, 40, 68);
$p: rgb(34, 40, 68);
$i:rgb(34, 40, 68);
$button-bg:rgb(34, 40, 68);
$button-text:rgba(255, 255, 255,01);
$li: rgb(34, 40, 68);

$background-blue-color:rgb(147, 190, 222);
$white-color: rgb(255, 255, 255);
$dark-blue-color:rgb(34, 40, 68);
$light-blue-background-color: rgb(147, 190, 222);
$grey:rgb(161, 159, 159);
$off-white:rgb(244, 244, 248);
$sky-blue:rgb(22, 125, 221);
$light-grey:rgb(219, 216, 216);
$blue-grey:rgb(240, 240, 245);
$light-blue: rgb(209, 229, 245);
$white:rgb(255,255,255);
$dark-grey:rgb(102, 101, 101);
$black:black;
$red:red;
$green:green;
$breakpoint-tablet:768px;
$breakpoint-desktop:1024px;
/* .................................................. */

section{
    padding: 1.5rem 1rem;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'nexa-bold';
    letter-spacing: 0.01rem;
    color: $heading ;
    &::first-letter {
        text-transform:capitalize;
      }
}
h1{
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1rem ;
}
h2{
    font-size:1.4rem;
}
h3{
    font-size: 1.2rem;
}
h4{
    font-size: 1rem;
}
h5{
    font-size: 0.8rem;
}
h6{
    font-size: 0.6rem;
}

p{
    color: $p ;
    font-size: 0.9rem;
    font-family: 'nexa-light';
    text-align: center;
    line-height: 1.2rem;
    letter-spacing: 0.059rem;
    margin-bottom: 1rem;
    &::first-letter {
        text-transform:capitalize;
      }
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

input{
    width: -webkit-fill-available;
    padding: 0.5rem 1rem;
    outline: none;
    border: 1px solid  var(--input-border);
    &::placeholder{
        font-family: 'nexa-light';
        // padding-left: 0.5rem;
    }
}    
input[readonly=""]{
    background: rgb(248, 244, 244);
}
textarea{
    outline: none;
    width: -webkit-fill-available;
    padding: 0rem 1rem;
    &::placeholder{
        font-family: 'nexa-light';
    }
}
i{
    width: 1rem;
    color: $i ;
}    

button{
    background-color: $button-bg;
    color: $button-text;
    padding: 0.5rem 1rem;
    cursor: pointer;
    outline: none;
    border: none;
}

select {
    color: rgba(0, 0, 0, 0.7);
    padding: 0.4rem 1rem;
    width: 100%;
    border-color: rgba(0, 0, 0, 0.2);
    font-size: 0.9rem;
    font-family: nexa-light;
    outline: none;
    background: $white;
}
select option {
    font-size: 1.1rem;
}

a,i {
    cursor: pointer;
}
a{
    text-decoration: none;
}
ul{
    li{
        color: $li;
        font-size: 0.9rem;
        font-family: 'nexa-light';
        &::first-letter {
            text-transform:capitalize;
          }
    }
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* ....................................................*/
/* ................................................... */
/* ............tablet................................... */
/* .................................................... */
/* .................................................. */


@media only screen and ( min-width:768px){


    section{
        padding:  2rem;
    }
    h1,h2,h3,h4,h5,h6{
        letter-spacing: 0.011rem;
    }
    h1{
        font-size: 1.6rem;
        text-align: center;
        margin-bottom: 1rem ;
    }
    h2{
        font-size:1.5rem;
    }
    h3{
        font-size: 1.3rem;
    }
    h4{
        font-size: 1.1rem;
    }
    h5{
        font-size: 0.9rem;
    }
    h6{
        font-size: 0.7rem;
    }
    p{
        font-size: 0.9rem;
        line-height: 1.2rem;
    }
    button{
        font-size: 1rem;
        padding: 0.4rem 1rem;
    }
    select{
        font-size: 0.9rem;
    }
    select option {
        font-size: 0.9rem;
    } 
    ul li{
        font-size: 0.9rem;
        padding: 0.2rem auto ;
    }

    
}



/* ....................................................*/
/* ................................................... */
/* ............decstop................................... */
/* .................................................... */
/* .................................................. */

@media only screen and ( min-width:1024px){
    

ul{
    li{
        font-size: 1rem;
        padding: 0.2rem auto ;
    }
}

    h1,h2,h3,h4,h5,h6,p,li,a{
        margin: 0rem;
        padding:0rem;
    }

    section{
        padding: 2rem 7rem;
    }
    
    h1,h2,h3,h4,h5,h6{
        letter-spacing: 0.01rem;
    }
    h1{
        font-size: 2rem;
        text-align: start;
        margin-bottom: 1rem ;
    }
    h2{
        font-size:1.8rem;
    }
    h3{
        font-size: 1.6rem;
    }
    h4{
        font-size: 1.4rem;
    }
    h5{
        font-size: 1rem;
    }
    h6{
        font-size: 0.8rem;
    }
    p{
        text-align: start;
        font-size: 1rem;
        line-height: 1.5rem;
        margin-bottom: 2rem;
    }
    button{
        font-size: 1.2rem;
    }
    li{
        font-size: 1rem;
        font-family: 'nexa-light';
    }


}