:root {
  --input-border:  rgba(0,0,0,0.2);
  --heading: rgb(12 ,113 ,167);
  --placeholder: rgba(0,0,0,0.2);
  --background:rgb(147, 190, 222);
  --form-background:white;
  --i:rgba(223, 215, 215, 0.87);
  --button-font:white;
}

.nav {
  position: absolute;
  z-index: 1;
  background: white;
  width: -webkit-fill-available;
}

.main {
  background: var(--background);
  position: relative;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0rem 1rem;
}

.main .login-box {
  width: 100%;
  margin-top: 4rem;
}

.main .login-box .login {
  text-align: center;
  background: var(--form-background);
  margin-bottom: 0.05rem;
  padding: 1rem 0rem;
}

.main .login-box .login h2 {
  color: var(--heading);
}

.main .login-box .form {
  background: var(--form-background);
  padding: 1rem;
  text-align: center;
}

.main .login-box .form form .location {
  -ms-flex-pack: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.5rem;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.main .login-box .form form .location input {
  border: none;
}

.main .login-box .form form .location span {
  font-size: 0.8rem;
  margin-right: 0.6rem;
}

.main .login-box .form form .location span i {
  color: var(--i);
  font-size: 1rem;
}

.main .login-box .form form .a {
  margin-bottom: 0.5rem;
}

.main .login-box .form form button {
  width: 100%;
  height: 2.5rem;
  position: relative;
  color: var(--button-font);
  letter-spacing: 0.2rem;
  font-size: 0.7rem;
}

.main .login-box .form form button span {
  position: absolute;
  right: 1.2rem;
}

.main .login-box .form form button span i {
  color: var(--button-font);
}

.main .login-box .form form .showdocdiv {
  width: 100%;
  height: 2.5rem;
  position: relative;
  color: var(--button-font);
  letter-spacing: 0.2rem;
  font-size: 0.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #222844;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'nexa-light';
}

.main .login-box .form form .showdocdiv span {
  position: absolute;
  right: 1.2rem;
}

.main .login-box .form form .showdocdiv span i {
  color: var(--button-font);
}

.main .login-box .signup {
  background: var(--form-background);
  padding: 1rem;
  text-align: center;
  font-size: 0.8rem;
  font-family: 'nexa-light';
}

.main .login-box .signup a {
  text-decoration: none;
  font-weight: 900;
  color: #0c71a7;
}

.main .reserved {
  text-align: center;
  font-size: 0.8rem;
  position: absolute;
  bottom: 0.5rem;
}

@media only screen and (min-width: 768px) {
  .main .login-box {
    width: 65%;
    margin-top: 5rem;
  }
}

@media only screen and (min-width: 1024px) {
  .main .login-box {
    width: 35%;
    margin-top: 6rem;
  }
  .main .login-box .form form button {
    padding: 0rem;
  }
}

.nav .desktop-nav-buttons .dnlogin {
  display: none;
}

.nav .desktop-nav-buttons .user_name {
  display: none;
}

.alert {
  padding: 0.5rem 1rem;
  background-color: white;
  position: absolute;
  right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 6rem;
  z-index: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-left: 0.2rem solid red;
}

.alert i {
  font-size: 1.5rem;
  color: red;
}

.alert .alert_content {
  margin-left: 1rem;
}

.alert .alert_content h4 {
  color: red;
}

.alert .alert_content p {
  color: red;
  margin-bottom: 0;
}

.alert .closebtn {
  color: red;
  margin-left: 15px;
  font-weight: bold;
  float: right;
  font-size: 2rem;
  line-height: 20px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.alert:hover {
  color: black;
}

#succ {
  border-left: 0.2rem solid blue;
}

#succ i {
  color: blue;
}

#succ .alert_content h4 {
  color: blue;
}

#succ .alert_content p {
  color: blue;
}

#succ .closebtn {
  color: blue;
}

input[type=number] {
  height: 45px;
  width: 45px;
  font-size: 25px;
  text-align: center;
  border: 1px solid white;
  border-bottom: 2px solid #5151af;
  margin-right: 0.5rem;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

a {
  text-decoration: none;
}

h5 {
  margin: 1rem 0rem;
  color: #5151af;
}

p {
  text-align: center;
}
/*# sourceMappingURL=otp.css.map */