@import "login.scss";
$border-hidden:white;
$timer:rgb(81, 81, 175);
$red:red;
$blue: blue ;

.nav{
    .desktop-nav-buttons{
        .dnlogin{
            display: none;
        }
        .user_name{
            display: none;
        }
    }
}

.alert {
    padding: 0.5rem 1rem;
    background-color: white;
    position: absolute;
    right: 1rem;
    display: flex;
    top: 6rem;
    z-index: 1;
    align-items: center;
    border-left: 0.2rem solid $red;
    i{
        font-size: 1.5rem;
        color: $red;
    }
    .alert_content{
        margin-left: 1rem;
        h4{
            color: $red;
        }
        p{
            color: $red;
            margin-bottom: 0;
        }
    }
    .closebtn {
        color: $red;
      margin-left: 15px;
      font-weight: bold;
      float: right;
      font-size: 2rem;
      line-height: 20px;
      cursor: pointer;
      transition: 0.3s;
    }
    &:hover {
      color: black;
    }
}
  
#succ{
    border-left: 0.2rem solid $blue;
    i{
        color: $blue;
    }
    .alert_content{
        h4{
            color: $blue;
        }
        p{
            color: $blue;
        }
    }
    .closebtn {
        color: $blue;
    }
}

input[type=number] {
    height: 45px;
    width: 45px;
    font-size: 25px;
    text-align: center;
    border: 1px solid $border-hidden;
    border-bottom:2px solid $timer;
    margin-right: 0.5rem;
    padding: 0;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
a{
    text-decoration: none;
}
h5{
    margin: 1rem 0rem;
    color: $timer;
}
p{
    text-align: center;
}


