:root {
  --input-border:  rgba(0,0,0,0.2);
  --heading:rgb(81, 81, 175);
  --placeholder: rgba(0,0,0,0.2);
  --background:rgb(171, 171, 221);
  --form-background:white;
  --i:rgba(223, 215, 215, 0.87);
  --button-font:white;
}

.nav {
  position: absolute;
  z-index: 1;
  background: white;
  width: -webkit-fill-available;
}

.main {
  background: var(--background);
  position: relative;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0rem 1rem;
}

.main .login-box {
  width: 100%;
  margin-top: 3rem;
}

.main .login-box .login {
  text-align: center;
  background: var(--form-background);
  margin-bottom: 0.05rem;
  padding: 1rem 0rem;
}

.main .login-box .login h2 {
  color: var(--heading);
}

.main .login-box .form {
  background: var(--form-background);
  padding: 1rem;
  text-align: center;
}

.main .login-box .form form .location {
  -ms-flex-pack: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.5rem;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.main .login-box .form form .location input {
  border: none;
}

.main .login-box .form form .location span {
  font-size: 0.8rem;
  margin-right: 0.6rem;
}

.main .login-box .form form .location span i {
  color: var(--i);
  font-size: 1rem;
}

.main .login-box .form form .a {
  margin-bottom: 0.5rem;
}

.main .login-box .form form button {
  width: 100%;
  height: 2.5rem;
  position: relative;
  color: var(--button-font);
  letter-spacing: 0.2rem;
  font-size: 0.7rem;
}

.main .login-box .form form button span {
  position: absolute;
  right: 1.2rem;
}

.main .login-box .form form button span i {
  color: var(--button-font);
}

.main .login-box .signup {
  background: var(--form-background);
  padding: 1rem;
  text-align: center;
  font-size: 0.8rem;
  font-family: 'nexa-light';
}

.main .login-box .signup a {
  text-decoration: none;
  font-weight: 900;
}

.main .reserved {
  text-align: center;
  font-size: 0.8rem;
  position: absolute;
  bottom: 0.5rem;
}

@media only screen and (min-width: 768px) {
  .main {
    background: #ababdd;
  }
  .main .login-box {
    width: 60%;
    margin-top: 4rem;
  }
}

@media only screen and (min-width: 1024px) {
  .main .login-box {
    width: 40%;
  }
  .main .login-box .form form button {
    padding: 0rem;
  }
}

.main .login-box .form form .forgot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 0rem;
}

.main .login-box .form form .forgot h5 {
  color: blue;
}
/*# sourceMappingURL=email-login.css.map */