@import "doctor-new.css"; 


.main .doctor-boxs .doctor-box .doctor-logos ul li {
    margin-left: 0.5rem;
    font-size: 1rem;
    font-weight: 900;
    margin-bottom: 0.5rem;
}
.main .doctor-boxs .doctor-box .filter-buttons{
    margin-left: 2rem;
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--white_dark);

}
.main .doctor-boxs .doctor-box .filter-buttons .fil-button {
    border: 0.02rem solid black;
    margin: 0.15rem 0.15rem ;
    padding: 0.5rem ;
    border-radius: 1rem;
    font-size: 0.8rem;
    font-family: 'nexa-light';
    display: flex;
} 
.main .doctor-boxs .doctor-box .doctor-button button{
    width: 10rem;
}


@media only screen and ( min-width:768px) {
   
.filter{
    display: none;
}    
.main {
    grid-template-columns: 1fr ;
}
.doctor-logos{
    height: auto;
}
.doctor-box .doctor-logos ul {
    grid-template-columns: 1fr 2fr;
}

.main .doctor-boxs .doctor-box .doctor-button  {
    margin-top: 3rem;
}
}


@media only screen and (min-width:1023px){

    .filter{
        display: block;
    }  
    .main {
        grid-template-columns: 1fr 3fr;
    }
    .main .doctor-boxs .doctor-box .filter-buttons {
        margin-left: 4rem;
    }
    .main .doctor-boxs .doctor-box .doctor-button {
        margin-top: 1rem;
    }
    .doctor-box .doctor-logos ul {
        grid-template-columns: 2fr 1fr;
    }

}