<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
   
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="css/new-theme.css">
    <link rel="stylesheet" href="css/book-appointment.css">
    <title>book-appointment</title>

</head>
<body>

<!--........nav .............-->
    <nav class="nav">
        <div class="nav-img" >
            <img  src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" alt="tvastra logo">
        </div>
        <div class="nav-i">
            <i class="fa fa-bars fa-1x"  ></i>
        </div>
        <div class="desktop-nav">
        <ul>               
            <li> <a href="#">  Doctor   </a></li>
            <li> <a href="#">  Hospital  </a> </li>
            <li> <a href="#">  Treatment  </a> </li>
            <li> <a href="#">  Other services  </a> </li>
            <li> <a href="#">  About  </a> </li>
        </ul>
        </div>
        <div class="desktop-nav-buttons">
                <div class="dnlogin"> 
                    <a href="#">  Login  </a>
                    / 
                    <a href="#">  Sign Up </a> 
                </div>
                <button class="quote-button"> get a quote   </button>
        </div>
    </nav> 
<!--.........nav end..........-->

<div class="main">
    <div class="login-box">
        <div class="login">
            <h4>Book-Appointment</h4>
        </div>
        <div class="form">
            <form action="">
                <h5> select appointment date*</h5>
                <input type="date" placeholder="">

                <h5> Time intervar*</h5>
                <ul>
                    <li>
                        <input type="radio" id="morning" name="time-intervar" value="morning">
                        <label for="morning">morning</label><br>  
                    </li>
                    <li>
                        <input type="radio" id="afternoon" name="time-intervar" value="afternoon">
                        <label for="afternoon">afternoon</label><br>
                    </li>
                    <li>
                        <input type="radio" id="evening" name="time-intervar" value="evening">
                        <label for="evening">evening</label>
                    </li>
                </ul>
                
                <h5> Appointment Status / Urgency*</h5>
                <ul>
                    <li>
                        <input type="radio" id="routing" name="timeintervar" value="routing">
                        <label for="routing">routing check-up</label><br>
                    </li>
                    <li>
                        <input type="radio" id="non-urgent" name="timeintervar" value="nonurgent">
                        <label for="non-urgent">Non Urgent Check-Up</label><br>
                    </li>
                    <li>
                        <input type="radio" id="urgent" name="timeintervar" value="urgent">
                        <label for="urgent">Urgent Check-Up</label>
                    </li>                  
                    <li>
                        <input type="radio" id="surgical" name="timeintervar" value="surgical">
                        <label for="surgical">Surgical Appointment</label>         
                    </li>                  
                </ul>
                    
                <h5> Upload Previous Health Record</h5>
                <input type="file" id="myfile" name="myfile">

                <h5> Appointment details</h5>
                <textarea placeholder=""></textarea>

                <button> BOOK APPOINTMENT <span> <i class="fa fa-arrow-right" aria-hidden="true"></i> </span></button>
            </form>
        </div>   
    </div>
    <div class="reserved"> 
        <h6> All right reserved Tvastra 2020 </h6> 
    </div>

</div>

    
</body>
</html>




</body>
</html>