<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
   
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="css/new-theme.css">
    <link rel="stylesheet" href="css/login.css">

    <title>login</title>
</head>
<body>

<!--........nav .............-->
    <nav class="nav">
        <div class="nav-img" >
            <a href="new2-index.html"> 
                <img  src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" alt="tvastra logo"> 
            </a>
        </div>
        <div class="nav-i">
            <i class="fa fa-bars fa-1x"  ></i>
        </div>
        <div class="desktop-nav">
            <ul>               
                <li> <a href="doctor.html">  Doctor   </a></li>
                <li> <a href="hospital.html">  Hospital  </a> </li>
                <li> <a href="">  Treatment  </a> </li>
                <li> <a href="#">  Other services  </a> </li>
                <li> <a href="about-us.html">  About  </a> </li>
            </ul>
        </div>
        <div class="desktop-nav-buttons">
                <div class="dnlogin"> 
                    <a href="#">  Login  </a>
                    / 
                    <a href="#">  Sign Up </a> 
                </div>
                <button class="quote-button"> get a quote   </button>
        </div>
    </nav> 
<!--.........nav end..........-->


<div class="main">

    <div class="login-box">

        <div class="login">
            <h2>Login</h2>
        </div>

        <div class="form">
            <form action="">
                <div class="location">
                    <input type="text" placeholder="Enter mobiel number" >
                    <span> <i class="fa fa-question-circle" aria-hidden="true"></i> </span>
                </div>
                <input type="text" class="a"  placeholder="Enter OTP">
                <button> LOGIN <span> <i class="fa fa-arrow-right" aria-hidden="true"></i> </span></button>
            </form>
        </div>
    
        <div class="signup">
             Not Registerd? <a href="signup.html"> Sign Up</a> 
        </div>
    </div>

    <div class="reserved">
        <h6> All right reserved Tvastra 2020 </h6>
    </div>

</div>

    
</body>
</html>