<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>treatment</title>
    
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="css/new-theme.css">
    <link rel="stylesheet" href="css/treatment.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    
    

<!--........nav .............-->
    <nav class="nav">
        <div class="nav-img" >
            <a href="new2-index.html"> 
                <img  src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" alt="tvastra logo"> 
            </a>
        </div>
        <div class="nav-i">
            <i class="fa fa-bars fa-1x"  ></i>
        </div>
        <div class="desktop-nav">
            <ul>               
                <li> <a href="doctor.html">  Doctor   </a></li>
                <li> <a href="hospital.html">  Hospital  </a> </li>
                <li> <a href="">  Treatment  </a> </li>
                <li> <a href="#">  Other services  </a> </li>
                <li> <a href="about-us.html">  About  </a> </li>
            </ul>
        </div>
        <div class="desktop-nav-buttons">
                <div class="dnlogin"> 
                    <a href="#">  Login  </a>
                    / 
                    <a href="#">  Sign Up </a> 
                </div>
                <button class="quote-button"> get a quote   </button>
        </div>
    </nav> 
<!--.........nav end..........-->

<section class="home">
    <div class="home-contect">
        <h1> Dentistry </h1>
        <p> Home / Dentistry </p>
    </div>
</section>

<section class="info">
    <div class="vaccination">
        <div class="pashant">
            <h2>Vaccination</h2>
            <div class="doctor-box">
                <div class="doctor-img">
                </div>
                <div class="about">
                    <h4>About dentist department</h4>
                    various faciclitis are provided here .but there is a protocol which needs to be followed so that you get the service at its best.               
                    <ul>
                        <li>cf-related dehabits (monthly)</li>
                        <li>cf-related dehabits (monthly)</li>
                        <li>cf-related dehabits (monthly)</li>
                        <li>cf-related dehabits (monthly)</li>
                        <li>cf-related dehabits (monthly)</li>
                        <li>cf-related dehabits (monthly)</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="disorders">
            <div class="disorders-box">
                <div class="logo-box">
                    <i class="fa fa-stethoscope" aria-hidden="true"></i>
                </div>
                <h4>Central nervous system</h4>
                 faciclitis are provided here .but there is a protocol which needs to be followed so that you get 
            </div>
            <div class="disorders-box">
                <div class="logo-box">
                    <i class="fa fa-heartbeat" aria-hidden="true"></i>
                </div>
                <h4>Allergic disorders </h4>
                faciclitis are provided here .but there is a protocol which needs to be followed so that you get 
            </div>
            <div class="disorders-box">
                <div class="logo-box">
                    <i class="fa fa-heartbeat" aria-hidden="true"></i>
                </div>
                <h4>Neoplastic disorders</h4>
                faciclitis are provided here .but there is a protocol which needs to be followed so that you get 
            </div>
        </div>
    </div>
    <div class="boxs">
        <div class="service-box">
            <h4>Service details</h4>
            <ul>
                <li><div class="list-heading">price </div> <span> from $340  </span> </li>
                <li><div class="list-heading">Duration </div> <span> 10 minutes  </span> </li>
                <li><div class="list-heading">Office </div> <span> #46  </span> </li>
                <li><div class="list-heading">Doctor </div> <span> Dr. ellizabet bread  </span> </li>
                <li><div class="list-heading">categories </div> <span> famely medicine  </span> </li>
            </ul>
        </div>
        <div class="shedule-box">
            <h4>Shedule </h4>
            <ul>
                <li><div class="list-heading" >thrusday </div> <span> from $222  </span> </li>
                <li><div class="list-heading" >friday </div> <span> from $222  </span> </li>
            </ul>
        </div>
    </div>
</section>

<section class="services">
    <div class="arrow-box"> 
        <h2>More services</h2> 
        <div class="arrow-button"> 
            <div class="arrow"  onclick="plusSlides(-1)" >  <i class="fa fa-chevron-left" aria-hidden="true"></i> </div>
            <div class="arrow"  onclick="plusSlides(1)" > <i class="fa fa-chevron-right" aria-hidden="true"></i> </div>
        </div> 
    </div>
    <div class="desices">
        <div class="desices-box one">
            <div class="paitiont-img">
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--008.jpg" alt="">
            </div>
            <div class="h3">
                <h3>Cancer</h3>
            </div>
        </div>

        <div class="desices-box two">
            <div class="paitiont-img">
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--010.jpg" alt="">
            </div>        
            <div class="h3">
                <h3>Cancer</h3>
            </div>
        </div>

        <div class="desices-box three">
            <div class="paitiont-img">
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--011.jpg" alt="">
            </div>        
            <div class="h3">
                <h3>Cancer</h3>
            </div>
        </div>
    </div>
    <div class="desices">
        <div class="desices-box one">
            <div class="paitiont-img">
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--010.jpg" alt="">
            </div>
            <div class="h3">
                <h3>Cancer</h3>
            </div>
        </div>

        <div class="desices-box two">
            <div class="paitiont-img">
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--008.jpg" alt="">
            </div>        
            <div class="h3">
                <h3>Cancer</h3>
            </div>
        </div>

        <div class="desices-box three">
            <div class="paitiont-img">
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--011.jpg" alt="">
            </div>        
            <div class="h3">
                <h3>Cancer</h3>
            </div>
        </div>
    </div>   
    <div class="desices">
        <div class="desices-box one">
            <div class="paitiont-img">
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--008.jpg" alt="">
            </div>
            <div class="h3">
                <h3>Cancer</h3>
            </div>
        </div>

        <div class="desices-box two">
            <div class="paitiont-img">
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--010.jpg" alt="">
            </div>        
            <div class="h3">
                <h3>Cancer</h3>
            </div>
        </div>

        <div class="desices-box three">
            <div class="paitiont-img">
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--011.jpg" alt="">
            </div>        
            <div class="h3">
                <h3>Cancer</h3>
            </div>
        </div>
    </div>     
</section>


<!--.........footer.....-->
<footer>

    <div class="footer-logo">
        <div class="logoimg" >
            <img class="img" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/footer.png" alt="tvastra logo">
        </div>
    </div>
    
    <div class="footer-heading"><h3>TVASTRA</h3> </div>

    <div class="footer-nav">
        <ul>               
            <li> <a href="#">  Doctor   </a></li>
            <li> <a href="#">  Hospital  </a> </li>
            <li> <a href="#">  Treatment  </a> </li>
            <li class="other-services"> <a href="#">  Other services  </a> </li>
            <li class="contact"> <a href="contact.html">  Contact us  </a> </li>
            <li> <a href="#">  FAQs  </a> </li>
        </ul>   
    </div>

    <div class="footer-sites">
        <i class="fa fa-facebook" aria-hidden="true"></i>
        <i class="fa fa-pinterest-p" aria-hidden="true"></i>
        <i class="fa fa-twitter" aria-hidden="true"></i>
        <i class="fa fa-google-plus" aria-hidden="true"></i>
        <i class="fa fa-instagram" aria-hidden="true"></i>
    </div>
    
    <div class="footer-heading"> <h3> FOLLOW US </h3> </div>

    <div class="footer-sites-word">
        <ul>               
            <li> <a href="#">  Facebook   </a></li>
            <li> <a href="#">  Penterest  </a> </li>
            <li> <a href="#">  Twitter  </a> </li>
            <li> <a href="#">  Google+  </a> </li>
            <li> <a href="#">  Instagram  </a> </li>
        </ul>   
    </div>

    <div class="footer-reserve">
        All Rights Reserved.<i class="fa fa-copyright" aria-hidden="true"></i> trastra 2018
    </div>

</footer>
<!--.........footer end.....-->


<script>
var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("desices");
  var dots = document.getElementsByClassName("arrow");
  if (n > slides.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";  
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "flex";  
  dots[slideIndex-1].className += " active";
}


</script>
             

</body>
</html>